.hover-block {
  /* background-color: #f4f4f4;  Default background color */
  padding: 15px;
  border-radius: 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* transition: background-color 0.3s ease;  Smooth transition on hover */
}

/* Hover effect on the entire block */
/*
.hover-block:hover {
  background-color: #e0e0e0;  
}
*/