.content {
    font-family: Palatino, Times, serif;
  }

  /* https://blanla.com/show-hide-element-html-css/ */
details> summary {
  list-style-type: "+ Click to expand"; /* This removes the default arrow */
  cursor: pointer;
  position: relative;
  margin-left: 0px;
  align-items: justify; 
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

details[open] > summary {
  list-style-type: "- Click to collapse";
  font-weight: bold;
  font-style: italic;
}