.content {
    font-family: Poppins, sans-serif;
    src:
        url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  }

  /* https://blanla.com/show-hide-element-html-css/ */
details> summary {
  list-style-type: "+ Click to expand"; /* This removes the default arrow */
  cursor: pointer;
  position: relative;
  margin-left: 0px;
  align-items: justify; 
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

details[open] > summary {
  list-style-type: "- Click to collapse";
  font-weight: bold;
  font-style: italic;
}

.resource-type-description {
  margin-top: 0.25em;
  margin-bottom: 1em;
  color: #555;
  font-size: 0.95rem;
  font-weight: normal;
  /* font-style: italic; */
}
h3 + .resource-type-description {
  margin-top: 0.1em;
}

.resource-type-section.hidden {
  display: none !important;
}